.aboutFlex {
  font-size: 18px;
}

.sellingparagraph {
  white-space: pre-wrap;
  overflow: visible;
  font-family: Arial;
  font-size: 16px;
  font-weight: 400;
  color: rgb(24, 24, 24);
  text-align: center;
  line-height: 1.4;
  border-radius: 0px;
  opacity: 1;
  align-self: flex-start;
  min-width: 50px;
  order: 4;
  min-height: 45px;
  height: max-content;
  flex-grow: 0;
  flex-shrink: 0;
  width: calc(100% - 0px);
  margin: 0px;
}

h2 {
  white-space: pre-wrap;
  overflow: visible;
  font-family: Arial;
  font-size: 24px;
  font-weight: bold;
  color: rgb(24, 24, 24);
  text-align: center;
  letter-spacing: -0.5px;
  line-height: 1.4;
  border-radius: 0px;
  opacity: 1;
  align-self: flex-start;
  min-width: 0px;
  order: 2;
  min-height: 0px;
  height: max-content;
  flex-grow: 0;
  flex-shrink: 0;
  width: calc(100% - 0px);
  margin: 8px 0px;
}