
.itemviewflex-container {
    display: flex;
    flex-direction: row;
  }
  
  .itemviewflex-item-left {
        flex: 20%;
        font-family: Arial;
        font-size: 16px;
        font-weight: bold;
        color: rgb(24, 24, 24);
        line-height: 1.4;
        height: 48px;
  }

  .accountPageButtonText {
    background-color: blue;
    font-size: 15px;
    font-weight: 600;
    color: white;
    text-align: center;
    line-height: 1;
    border-radius: 0px;
    opacity: 1;
    order: 2;
    height: 50px;
    flex-grow: 1;
    width: calc(100% - 0px);
    margin: 0px;
  }
  
  .button1{    overflow: visible;
    justify-content: flex-start;
    border-radius: 0px;
    opacity: 1;
    cursor: pointer;
    align-self: flex-start;
    min-width: 20%;
    max-width: 20%;
    order: 2;
    min-height: 4px;
    width: 20%;
    flex-grow: 1;
    height: max-content;
    margin: 0px;
    border: none;
    background-color: transparent;
  }
  .itemviewflex-item-right {
    font-family: Arial;
    font-size: 16px;
    flex: 80%;
  }  
  /* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 450px) {
    .itemviewflex-container {
      flex-direction: column;
    }
  }

  .itemviewtextflex-container {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
    border: 1px;
    padding-top: 5%;
    width: 80%;
    align-content: center;
    justify-content: center;
    position: relative;
  }