
.itemView-image {
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 16px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  font-size: 1.2rem;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.itemView-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 16px;
}

.itemView {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
.itemView-details {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;
}

.itemView-row {
  margin-bottom: 12px;
}

.itemView-label {
  font-weight: bold;
  margin-right: 8px;
}

.itemView-value {
  word-break: break-word;

}
.spacer {
  margin-bottom: 16px;
}
.currentBid{
  font-size: 2rem;
  font-weight: bold;

}
.itemView-section {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 16px;
}
.bidSection,
.auctionFunction {
  text-align: center;
  text-font: bold;
  font-size: 1.2rem;
  background-color: #f8f8f8;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: #555555 0px 0px 10px;
}
