.appHeader {
  left: 0;
  top: 0;
  position: sticky;
  width: 100%;
  height: 100px;
  flex-grow: 1;
  align-self: flex-start;
  justify-content: space-between;
  background-image: url(../../images/HomeScreenBackground.jpeg);
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.headerTitle a {
  color: inherit;
  text-decoration: none;
}

.headerLogo {
  position: left;
  right: 0;
  top: 0;
  height: 10vh;
}