.flex-container {
    display: flex;
    flex-direction: row;
    font-size: 12px;
    column-gap: 25%;
    row-gap: 10%;
    border: 1px;
    align-content: center;
    position: relative;
    width: 100%;
    bottom: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: rgb(82, 82, 82);
    height: auto;
    line-height: 3;
    text-align: center;
    order: 2;
    margin-top: 8px;
    background: white;
    vertical-align: middle;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding-bottom: 0;
    border-top-style: solid;
    border-top-color: rgba(235, 235, 235, 1);
    z-index: 1;
}

a {
    color: inherit;
    text-decoration: inherit;
}

/* Responsive layout - makes a one column layout instead of a two-column layout when hits 450px screen width */
@media (max-width: 300px) {
    .flex-container {
        flex-direction: column;
    }
}

.flex {
    overflow: visible;
    justify-content: flex-start;
    border-radius: 0px;
    opacity: 1;
    align-self: flex-start;
    min-width: 0px;
    order: 7;
    min-height: 0px;
    height: max-content;
    flex-grow: 0;
    flex-shrink: 0;
    width: calc(100% - 0px);
    margin: 0px;
    z-index: 21;
}

.input {
    border-style: solid; 
    border-width: 1px; 
    border-radius: 5px; 
    font-size: 14px; 
    font-weight: 400; 
    padding: 6px; opacity: 1; 
    align-self: center; 
 width: 200px;
    order: 6; 
    height: 30px; 
    flex-grow: 1; 
    width: 250px; 
    margin: 0px; 
    z-index: 24;
 
}