.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(249, 249, 249);
  margin: 0 auto;
  flex-wrap: wrap;
}


.form {
  display: flex;
  flex-direction: column;

}


.input-wrapper {
  display: flex;
  margin: 10px 0;
}

.heading {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 32px;
  font-weight: 700;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
  letter-spacing: 1px;
}

.form-label {
  flex: auto;
  font-family: Arial;
  font-size: 16px;
  font-weight: bold;
  color: rgb(24, 24, 24);
  line-height: 1.4;
  height: 48px;
  margin-top: 0px;
  width: 150px;
}

.form-input {
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 400;
  padding: 6px;
  opacity: 1;
  align-self: center;
  height: 30px;
  flex-grow: 1;
  width: 60%;
  margin-left: 10px;
}

.submit-button {

  background-color: blue;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: white;
  text-align: center;
  line-height: 1;
  border-radius: 5px;
  padding: 12px 24px;
  opacity: 1;
  cursor: pointer;
  align-self: center;
  width: 150px;
  order: 9;
  height: 45px;
  flex-grow: 1;
  width: 150px;
  margin-left: -40px;
}

.Event-Type {
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(249, 249, 249);
  margin-left: 10px;
  flex-wrap: wrap;
  width: 64%;
}

.clear-button {

  background-color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: rgb(26, 24, 24);
  text-align: center;
  line-height: 1;
  border-radius: 5px;
  padding: 12px 24px;
  opacity: 1;
  cursor: pointer;
  align-self: center;
  width: 150px;
  order: 9;
  height: 45px;
  flex-grow: 1;
  width: 150px;
  margin-left: 280px;
  margin-top: -45px;
}


@media (max-width: 480px) {
  .flex-container {
    flex-direction: column;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .form {
    width: 70%;
  }

  .input-wrapper {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .form-label {
    width: 100%;
    padding-bottom: 0;
  }

  .form-input {
    padding-top: 0;

    width: 100%;
    margin-left: 0;
  }

  .Event-Type {
    width: 104%;
    height: 45px;
    margin-left: 0;
    margin-right: 0;
  }
}