
 .flex-container {
    display: flex;
    flex-direction: row;
    font-size: 12px;
    column-gap: 25%;
    row-gap: 10%;
    border: 1px;
    align-content: center;
    position: relative;
    width: 100%;
    bottom: 0;
    height: auto;
    line-height: 3;
    text-align: center;
    order: 2;
    margin-top: 8px;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding-bottom: 0;
    z-index: 1;
}


@media (max-width: 300px) {
    .flex-container {
        flex-direction: column;
    }
}

/* .h1{
    display: flex;
    font-size: xx-large;
} */



.form-label{
    display: inline-block;
    width: 150px;
    text-align: left;
    font-size: large;
    

}

.form{
    display: flex;
    flex-direction: column;
    overflow: visible;
    justify-content: flex-start;
    border-radius: 0px;
    opacity: 1;
    align-self: flex-start;
    min-width: 0px;
    order: 7;
    min-height: 0px;
    height: max-content;
    flex-grow: 0;
    flex-shrink: 0;
    width: calc(100% - 0px);
    margin: 0px;
    z-index: 21; 
}   

.input-wrapper {
    display: inline;
    flex-direction: column;
    flex: auto;
}

.form-input {
    padding: 5px 10px;
}