.textcontainer {
  display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(249, 249, 249);
    margin: 0 auto;
    flex-wrap: wrap; 
}

.reg-form{
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */

}

.registerflex-container {
  display: flex;
  /* flex-direction: row;
  justify-content: right;
  border: 1px;
  padding-top: 2%;
  width: auto;
  align-items: center; */
  margin: 10px;
}

.registerHeader {
text-align: center;
}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 450px) {
  .registerflex-container {
    flex-direction: column;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

.registerflex-item-left {
  /* text-align: center; */
  flex: auto;
  font-family: Arial;
  font-size: 16px;
  font-weight: bold;
  color: rgb(24, 24, 24);
  line-height: 1.4;
  height: 48px;
  margin-top: 0px;
  margin-right: 0px;
  /* justify-content: left;
  align-self: flex-start; */
  opacity: 1;
  align-self: center;
  flex-grow: 1;
  width: 60%;
  margin-left: 80px;
  margin-top: 10px;
  
}

.registerflex-item-right {
  flex: auto;
  font-family: Arial;
  font-size: 16px;
  /* align-self: flex-end;
  justify-content: right; */
  
}


a {
  color: inherit;
  text-decoration: inherit;
}

.input {
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 400;
  padding: 6px;
  opacity: 1;
  /* align-self: center; */
  
  height: 30px;
  flex-grow: 1;
  width: 250px;
  margin-left: 20px;
  
}

.registerbutton {
  background-color: blue;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: white;
  text-align: center;
  line-height: 1;
  border-radius: 5px;
  padding: 12px 24px;
  opacity: 1;
  cursor: pointer;
  align-self: center;
  width: 150px;
  order: 9;
  height: 45px;
  flex-grow: 1;
  width: 150px;
  margin: 0px;
}