/* hamBurgerMenu.css */


body {
  margin: 0;
  padding: 0;
}


.bm-burger-button {
  position: fixed;
  width: calc(4vw + 20px);
  height: calc(3vh + 6px);
  left: calc(1vw + 10px);
  top: calc((15vh/2) - ((3vh + 6px)/2));
  visibility: collapse;
}


.bm-burger-bars {
  background: #9d9d9d;

}


.bm-burger-bars-hover {
  background: #555;

}


.bm-cross-button {
  margin-right: 10px;
  height: 100px;
  width: 100px;
}


.bm-cross {
  background: #555;

  height: 40px !important;
  width: 6px !important;
}


.bm-menu-wrap {
  position: fixed;
  height: 100%;
  top: 0;

}


.bm-menu {
  background: #fff;

  padding: 2em;
  padding-top: 8vh;
  font-size: 1.2em;
}


.bm-item {
  padding: 1em;
  display: block;
  margin-bottom: 1em;
  color: #333;

  text-decoration: none;
  font-weight: bold;
  font-size: 1.5em;
}

.bm-item:hover {
  color: #ffffff;

  background-color: #000000;

}



.bm-overlay {
  background: rgba(255, 0, 0, 0.5);

}


@media (max-width: 780px) {
  .bm-burger-button {

    visibility: visible;
  }

}