/* hamBurgerMenu.css */

/* Reset default margin and padding on body */
body {
  margin: 0;
  padding: 0;
}

/* Styles for the menu button */
.bm-burger-button {
  position: fixed;
  width: calc(4vw + 20px);
  height: calc(3vh + 6px);
  left: calc(1vw + 10px);
  top: calc((15vh/2) - ((3vh + 6px)/2));
}

/* Styles for the burger icon bars */
.bm-burger-bars {
  background: #9d9d9d; /* Color of the bars */
}

/* Styles for the burger icon bars on hover */
.bm-burger-bars-hover {
  background: #555; /* Color on hover */
}

/* Styles for the cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Styles for the close button cross */
.bm-cross {
  background: #555; /* Color of the cross */
}

/* Styles for the sidebar wrapper */
.bm-menu-wrap {
  position: fixed;
  height: 100%;
  top: 0; /* Ensure the menu starts from the top of the screen */
}

/* Styles for the main menu */
.bm-menu {
  background: #fff; /* Background color of the menu */
  padding: 2em;
  font-size: 1.2em;
}

/* Styles for individual menu items */
.bm-item {
  display: block;
  margin-bottom: 1em;
  color: #333; /* Text color */
  text-decoration: none;
  font-weight: bold;
}

/* Styles for the overlay background */
.bm-overlay {
  background: rgba(0, 0, 0, 0.5); /* Overlay color and transparency */
}

